/* Global style */
*{
    margin: 0;
}
/* primary color */
.orange-text{
    color: #FD6E0A;
}
.orange-btn-primary{
    height: 40px;
    border-radius: 5px;
    background: #FD6E0A;
    border-style: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
/* Logo part */
.main-logo{
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 45px;
    /* font-style: normal; */
    font-weight: 800;
}

/* menu part */
nav{
    display: flex;
    justify-content: space-between;
    margin: 51px 226px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 60px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}